#skills{
    overflow:hidden;
    width:100rem;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    position: relative;
}